<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RT.Properties.Settings>
            <setting name="run_onlyShowFailedScenarios" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="target_dbUsername" serializeAs="String">
                <value>jdoe</value>
            </setting>
            <setting name="target_dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="fileDiffer_executable" serializeAs="String">
                <value>tortoisemerge</value>
            </setting>
            <setting name="fileDiffer_parameters" serializeAs="String">
                <value>/base:"%expectedFilename%" /mine:"%actualFilename%"</value>
            </setting>
            <setting name="app_version" serializeAs="String">
                <value />
            </setting>
            <setting name="schemas_excludedSchemas" serializeAs="String">
                <value>dbsnmp, oracle_ocm, outln, sys, sysman, system, tsmsys</value>
            </setting>
            <setting name="repos_exportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="repos_xmlEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="plsql_editor" serializeAs="String">
                <value />
            </setting>
        </RT.Properties.Settings>
    </userSettings>
</configuration>